<div class="center jumbotron">
  <h1>Welcome to the YAMBA</h1>

  <h2>
    Are you ready to take <strong>Yet Another Micro Blogging App</strong> to a spin?
  </h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>
