<footer class="footer">
  <small>
    Yet Another Micro Blogging App by Vinu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>